body{
    font-family: 'Poppins', sans-serif;
    background: #E5E5E5;
    height: 3000px;
}

html {
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
}

html.locked{
    overflow: hidden;
}


/* nav */

.nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    top: 0;
    left: 0;
    position: relative;
    z-index: 101;
    transition: 0.3s;
}

.nav.scrolled{
    background: #939393;
    opacity: 1;
    transition: 0.3s;
}

.nav-logo {
    margin-top: 57px;
    font-weight: 400;
    font-size: 36px;
    line-height: 54px;
    color: #000000;
}


.nav-logo span{
    color: #939393;
}

.nav-list {
    margin-top: 71px;
    display: flex;
}

.nav-item {
}

.nav-link {
    display: inline-block;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #263238;
    position: relative;
}

.nav-link::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    left: 0;
    bottom: 0;
    background: #263238;
    transition: 0.3s;
}

.nav-link:hover::after{
    width: 100%;
    transition: 0.3s;
}

.nav-item:nth-child(2){
    margin-left: 38px;
}

.nav-item:nth-child(3){
    margin-left: 32px;
}

.nav-item:nth-child(4){
    margin-left: 59px;
}

.nav-item:nth-child(5){
    margin-left: 33px;
}

.nav-button {
    margin-top: 55px;
    display: inline-block;
    width: 220px;
    height: 70px;
    border: 2px solid #263238;
    border-radius: 5px;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    transition: 0.3s;
}

.nav-button:hover{
    background-color: #263238;
    color: #FFFFFF;
    transition: 0.3s;
}

.nav-menu{
    display: none;
}

.nav-menu__button{
    display: none;
}

/* resp */

@media (max-width: 1024px){
    .nav-logo{
        font-size: 30px;
        line-height: 45px;
    }

    .nav-item:nth-child(2){
        margin-left: 30px;
    }

    .nav-item:nth-child(3){
        margin-left: 26px;
    }

    .nav-item:nth-child(4){
        margin-left: 46px;
    }

    .nav-item:nth-child(5){
        margin-left: 26px;
    }

    .nav-link{
        font-size: 16px;
        line-height: 24px;
    }

    .nav-button{
        width: 160px;
        height: 50px;
        font-size: 18px;
        line-height: 27px;
    }
}

@media (max-width: 768px) {

    .nav{
        justify-content: space-between;
    }

    .nav-logo{
        margin-top: 39px;
        margin-left: 39px;
        font-size: 30px;
        line-height: 45px;
    }

    .nav-list{
        display: none;
    }

    .nav-button{
        display: none;
    }

    .nav-menu__button {
        display: block;
        margin-top: 45px;
        margin-right: 38px;
        width: 30px;
        height: 17px;
        cursor: pointer;
    }

    
    .nav-menu__button span{
        display: block;
        height: 3px;
        background: #39515E;
        border-radius: 1px;
        transition: 0.3s;
    }
    
    .nav-menu__button span:nth-child(1){
        width: 30px;
    }
    
    .nav-menu__button span:nth-child(2){
        margin-top: 4px;
        width: 30px;
    }
    
    .nav-menu__button span:nth-child(3){
        margin-top: 4px;
        width: 21.22px;
    }

    .nav-menu__button.color span{
        background:  #000;
        transition: 0.3s;
    }

    .nav-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 0%;
        top: 0;
        right: 0;
        position: fixed;
        background: #263238;
        z-index: 100;
        transition: 0.4s;
    }
    
    .nav-menu.is-active{
        transition: 0.3s;
        width: 100%;
        overflow: hidden;
    }
    
    .nav-menu__list {
        display: flex;
        gap: 15px;
        flex-direction: column;
        opacity: 0;
        transition: 0.3s;
    }
    
    .nav-menu__list.is-active{
        opacity: 1;
        transition: 0.3s;
    }
    
    .nav-menu__link {
        display: inline-block;
        font-weight: 500;
        font-size: 48px;
        line-height: 58px;
        color: #000;
        position: relative;
        transition: 0.3s;
    }
    
    .nav-menu__link:hover{
        color: #939393;
        transition: 0.3s;
    }
    
    .nav-menu__link::after{
        content: "";
        position: absolute;
        width: 0%;
        height: 5px;
        left: 0;
        bottom: -5px;
        background: #000;
        transition: 0.5s;
    }
    
    .nav-menu__link:hover::after{
        width: 100%;
        transition: 0.5s;
        background: #939393;
    }

}

@media (max-width: 575px){

    .nav-logo{
        margin-left: 32px;
    }

    .nav-menu__button {
        margin-top: 50px;
        margin-right: 49.65px;
        width: 42.35px;
        height: 24px;
    }

    .nav-menu__button span{
        height: 4.24px;
    }

    .nav-menu__button span:nth-child(1){
        width: 42.35px;
    }
    
    .nav-menu__button span:nth-child(2){
        margin-top: 5.05px;
        width: 42.35px;
    }
    
    .nav-menu__button span:nth-child(3){
        margin-top: 5.05px;
        width: 29.96px;
    }
}

@media (max-width: 375px){
    .nav-logo{
        margin-top: 36px;
        margin-left: 14px;
    }

    .nav-menu__button {
        margin-top: 46px;
        margin-right: 15.47px;
        width: 33.53px;
        height: 19px;
    }

    .nav-menu__button span{
        height: 3.35px;
    }

    .nav-menu__button span:nth-child(1){
        width: 33.53px;
    }
    
    .nav-menu__button span:nth-child(2){
        margin-top: 4.47px;
        width: 33.53px;
    }
    
    .nav-menu__button span:nth-child(3){
        margin-top: 4.47px;
        width: 23.72px;
    }
}

/* resp */

/* nav, menu */



/* header */

.header {
    display: flex;
    justify-content: center;
}

.header-content {
    margin-top: 51px;
    display: flex;
    align-items: center;
    padding: 0px 21px 0px 29px;
}


.header-content__left h1{
    max-width: 386px;
    font-weight: 600;
    font-size: 64px;
    line-height: 80px;
    color: #000000;
    position: relative;
}

.header-content__left h1::after{
    content: "";
    position: absolute;
    width: 85.24px;
    height: 85.24px;
    bottom: 28px;
    right: -99px;
    background: url('../img/lamp.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.header-content__left p{
    margin-top: 40px;
    max-width: 632px;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px; 
    color: #8F95A5;
}


.header-content__left button{
    margin-top: 61px;
    display: inline-block;
    width: 438px;
    height: 118px;
    background: #263238;
    border-radius: 15px;
    font-weight: 400;
    font-size: 36px;
    line-height: 54px;
    color: #FFFFFF;
}

/* resp */

@media (max-width: 1440px) {

    .header-content__left h1{
        max-width: 290px;
        font-size: 48px;
        line-height: 64px;
    }

    .header-content__left p{
        margin-top: 27px;
        font-size: 20px;
        line-height: 30px;
    }

    .header-content__left button{
        width: 292px;
        height: 80px;
        font-size: 24px;
        line-height: 36px;
    }
}

@media (max-width: 1024px) {

    .header-content__left h1{
        max-width: 217px;
        font-size: 36px;
        line-height: 45px;
    }

    .header-content__left h1::after{
        width: 50.95px;
        height: 50.95px;
        right: -30px;
        bottom: 0;
    }

    .header-content__left p{
        margin-top: 25px;
        font-size: 16px;
        line-height: 24px;
    }

    .header-content__left button{
        margin-top: 32px;
        width: 236px;
        height: 65px;
        font-size: 18px;
        line-height: 27px;
    }
}


@media (max-width: 768px){
    .header-content{
        flex-direction: column;
    }

    .header-content__right{
        order: 1;
    }

    .header-content__left{
        order: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header-content__left h1{
        max-width: 491px;
        font-size: 34px;
        line-height: 45px;
    }

    .header-content__left h1::after{
        display: none;
    }

    .header-content__left p{
        font-size: 16px;
        line-height: 24px;
        text-align: center;        
    }

    .header-content__left button{
        width: 305px;
        height: 75px;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;        
    }
}

    @media (max-width: 575px){

        .header-content__left h1{
            max-width: 220px;
            font-size: 24px;
            line-height: 36px;
            text-align: center;
        }
    
        .header-content__left h1::after{
            display: none;
        }
    
        .header-content__left p{
            font-size: 14px;
            line-height: 21px;     
        }
    
        .header-content__left button{
            width: 289px;
            height: 60px;
            font-size: 16px;
            line-height: 24px;       
        }
}

/* resp */

/* header */



/* skills */

.skills {
    margin-top: 103px;
}

.skills h1{
    font-weight: 600;
    font-size: 48px;
    line-height: 80px;
    color: #000000;
    text-align: center;
}

.skills-cards {
    margin-top: 92px;
    display: flex;
    justify-content: center;
}

.skills-cards__right{
    display: flex;
    flex-direction: column;
}

.cards-right__top{
    display: flex;
}

.skills-card a{
    display: block;
    width: 230px;
    height: 60px;
    padding: 15px 51px 15px 52px;
    background: #263238;
    border-radius: 5px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
}

.skills-card__speaking {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 435px;
    height: 894px;
    padding: 35px 22px 92px 22px;
    background: #F5F5F5;
    border-radius: 10px;
}

.skills-card__speaking a{
    margin-top: 36px;
    display: block;
    width: 230px;
    height: 60px;
    padding: 17px 63px 16px 64px;
    background: #263238;
    border-radius: 5px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}

.skills-card__speaking p:nth-child(2){
    font-weight: 600;
    font-size: 30px;
    line-height: 80px;
    color: #263238; 
}

.skills-card__speaking p:nth-child(3){
    max-width: 347px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #8F95A5;
    
}


.skills-card__writing {
    margin-left: 18px;
    width: 434px;
    height: 531px;
    background: #F5F5F5;
    border-radius: 10px;
    position: relative;
}

.skills-card__writing img{
    position: absolute;
    margin-left: 122px;
}


.skills-card__writing p:nth-child(2){
    margin-top: 251px;
    margin-left: 42px;
    font-weight: 600;
    font-size: 30px;
    line-height: 80px;
    color: #263238; 
}

.skills-card__writing p:nth-child(3){
    margin-left: 41px;
    max-width: 347px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #8F95A5;
}

.skills-card__writing a{
    margin-top: 33px;
    margin-left: 41px;
}

.skills-card__reading {
    margin-left: 18px;
    width: 435px;
    height: 532px;
    background: #F5F5F5;
    border-radius: 10px;
}

.skills-card__reading img{
    margin-top: 9px;
    margin-left: 1px;
}

.skills-card__reading p:nth-child(2){
    margin-left: 41px;
    font-weight: 600;
    font-size: 30px;
    line-height: 75px;
    color: #263238; 
}

.skills-card__reading p:nth-child(3){
    margin-left: 41px;
    max-width: 632px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #8F95A5;
}

.skills-card__reading a{
    margin-top: 35px;
    margin-left: 43px;
}

.skills-card__listening {
    margin-top: 20px;
    margin-left: 18px;
    display: inline-block;
    width: 885px;
    height: 343px;
    padding: 43px 25px 44px 44px;
    background: #F5F5F5;
    border-radius: 10px;
    position: relative;
}

.skills-card__listening img{
    position: absolute;
    top: 44px;
    right: 25px;
}

.skills-card__listening p:nth-child(2){
    font-weight: 600;
    font-size: 30px;
    line-height: 80px; 
    color: #263238;    
}

.skills-card__listening p:nth-child(3){
    max-width: 340px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;   
    color: #8F95A5;     
}

.skills-card__listening a{
    margin-top: 25px;
}

.skills-cards__second{
    display: none;
}

/* resp */

@media (max-width: 1440px) {

    .skills{
        margin-top: 47px;
    }

    .skills-cards{
        margin-top: 53px;
    }

    .skills h1{
        font-size: 36px;
        line-height: 80px;
    }

    
    .skills-card__speaking {
        display: block;
        width: 303px;
        height: 696px;
        padding: 0px 21px 52px 22px;
        background: #F5F5F5;
        border-radius: 10px;
    }

    .skills-card__speaking p:nth-child(2){
        font-size: 22px;
        line-height: 80px; 
    }

    .skills-card__speaking p:nth-child(3){
        max-width: 262px;
        font-size: 14px;
        line-height: 21px;
    }
        
    .skills-card__writing {
        margin-left: 13px;
        width: 302px;
        height: 441px;
    }

    .skills-card__writing img{
        margin-left: 87px;
        margin-top: 5px;
        width: 205px;
        height: 205px;
    }

    .skills-card a{
        width: 196px;
        height: 57px;
        padding: 16px 41px 19px 42px;
        font-size: 18px;
        line-height: 27px;
    }

    .skills-card__writing p:nth-child(2){
        margin-top: 180px;
        margin-left: 29px;
        font-size: 22px;
        line-height: 80px; 
    }

    .skills-card__writing p:nth-child(3){
        margin-top: 0;
        margin-left: 29px;
        max-width: 262px;
        font-size: 14px;
        line-height: 21px;
    }

    .skills-card__writing a{
        margin-top: 29px;
        margin-left: 29px;
    }

    .skills-card__reading {
        margin-left: 12px;
        width: 304px;
        height: 442px;
    }

    .skills-card__reading img{
        margin-top: 16px;
        margin-left: 3px;
        width: 243px;
        height: 162px;
    }
    
    .skills-card__reading p:nth-child(2){
        margin-left: 26px;
        font-size: 22px;
        line-height: 80px;
    }
    
    .skills-card__reading p:nth-child(3){
        margin-left: 26px;
        max-width: 236px;
        font-size: 14px;
        line-height: 21px;
    }
    
    .skills-card__reading a{
        margin-top: 30px;
        margin-left: 27px;
        margin-bottom: 32px;
        width: 196px;
        height: 57px;
        font-size: 18px;
        line-height: 27px;
    }

    .skills-card__listening {
        margin-top: 13px;
        margin-left: 13px;
        width: 616px;
        height: 241px;
        padding: 0;
    }
    
    .skills-card__listening img{
        position: absolute;
        top: 33px;
        right: 18px;
        width: 254px;
        height: 169px;
    }
    
    .skills-card__listening p:nth-child(2){
        margin-top: 3px;
        margin-left: 29px;
        font-size: 22px;
        line-height: 80px;  
    }
    
    .skills-card__listening p:nth-child(3){
        margin-left: 32px;
        max-width: 290px;
        font-size: 14px;
        line-height: 21px;      
    }
    
    .skills-card__listening a{
        margin-left: 29px;
        margin-top: 11px;
    }
}

@media (max-width: 1024px) {
    
    .skills{
        margin-top: 56px;
    }

    .skills-cards{
        margin-top: 37px;
    }

    .skills h1{
        font-size: 30px;
        line-height: 80px;
    }

    
    .skills-card__speaking {
        display: block;
        width: 224px;
        height: 662px;
        padding: 0;
        background: #F5F5F5;
        border-radius: 10px;
    }

    .skills-card__speaking p:nth-child(2){
        margin-top: 2px;
        margin-left: 17px;
        font-size: 20px;
        line-height: 80px
    }

    .skills-card__speaking p:nth-child(3){
        margin-left: 17px;
        max-width: 197px;
        font-size: 13px;
        line-height: 20px;
    }

    .skills-card__speaking a{
        margin-left: 17px;
    }
        
    .skills-card__writing {
        margin-left: 10px;
        width: 227px;
        height: 441px;
    }

    .skills-card__writing img{
        margin-left: 0;
        width: 200px;
        height: 200px;
        position: none;
    }

    .skills-card a{
        width: 178px;
        height: 50px;
        padding: 13.59px 42.92px 14px 43px;
        font-size: 16px;
        line-height: 24px;        
    }

    .skills-card__writing p:nth-child(2){
        margin-top: 182px;
        margin-left: 16px;
        font-size: 20px;
        line-height: 80px;
    }

    .skills-card__writing p:nth-child(3){
        margin-top: 0;
        margin-left: 19px;
        margin-bottom: 13px;
        max-width: 262px;
        font-size: 13px;
        line-height: 20px        
    }

    .skills-card__writing a{
        margin-top: 0px;
        margin-left: 16px;
        margin-bottom: 27px;
    }


    .skills-card__writing {
        width: 227px;
        height: 441px;
    }

    .skills-card__writing img{
        margin-left: 0;
        width: 200px;
        height: 200px;
        position: none;
    }

    .skills-card a{
        width: 178px;
        height: 50px;
        padding: 13.59px 42.92px 14px 43px;
        font-size: 16px;
        line-height: 24px;        
    }

    .skills-card__reading {
        margin-left: 9px;
        width: 227px;
        height: 441px;
    }

    .skills-card__reading p:nth-child(2){
        margin-left: 16px;
        font-size: 20px;
        line-height: 80px;
    }

    .skills-card__reading p:nth-child(3){
        margin-top: 0;
        margin-left: 19px;
        margin-bottom: 16px;
        max-width: 190px;
        font-size: 13px;
        line-height: 20px        
    }

    .skills-card__reading a{
        margin-top: 0px;
        margin-left: 16px;
        margin-bottom: 27px;
    }


    .skills-card__listening {
        margin-top: 10px;
        margin-left: 10px;
        width: 462px;
        height: 210px;
    }
    
    .skills-card__listening img{
        position: absolute;
        top: 59px;
        right: 2px;
        width: 202px;
        height: 134px;
    }
    
    .skills-card__listening p:nth-child(2){
        margin-top: -3px;
        margin-left: 22px;
        font-size: 20px;
        line-height: 80px; 
    }
    
    .skills-card__listening p:nth-child(3){
        margin-left: 22px;
        max-width: 250px;
        font-size: 13px;
        line-height: 20px;     
    }
    
    .skills-card__listening a{
        margin-left: 21px;
        margin-top: 6px;
    }

}

@media (max-width: 768px) {

    .skills{
        margin-top: 96px;
    }

    .skills-cards__second{
        margin-top: 34px;
    }

    .skills-cards{
        display: none;
    }

    .skills-cards__second{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 34px;
        column-gap: 30px;
    }
    
    .skills-card{
        margin: 0;
        border-radius: 5px;
    }

    .skills-card a{
        width: 200px;
        height: 50px;
        padding: 13.59px 53.92px 14px 54px;
        font-size: 16px;
        line-height: 24px;        
    }

    .skills-card__speaking {
        width: 240px;
        height: 534px;
    }

    .skills-card__speaking img{
        margin-top: -8px;
        margin-left: 9px;
        width: 185px;
        height: 185px;
    }

    .skills-card__speaking p:nth-child(2){
        margin-left: 15px;
        font-size: 18px;
    }

    .skills-card__speaking p:nth-child(3){
        margin-left: 15px;
        max-width: 220px;
        font-size: 12px;
        line-height: 18px;
    }

    .skills-card__speaking a{
        margin-top: 15px;
        margin-left: 15px;
    }
        
    .skills-card__writing {
        width: 240px;
        height: 534px;
    }

    .skills-card__writing img{
        margin-left: 23px;
        width: 182px;
        height: 182px;        
    }

    .skills-card__writing p:nth-child(2){
        margin-top: 168px;
        margin-left: 19px;
        font-size: 18px;
    }

    .skills-card__writing p:nth-child(3){
        margin-top: 0;
        margin-left: 21px;
        max-width: 170px;
        font-size: 12px;
        line-height: 18px;       
    }

    .skills-card__writing a{
        margin-top: 116px;
        margin-left: 16px;
    }

    .skills-card__reading{
        width: 240px;
        height: 534px;
    }

    .skills-card__reading img{
        margin-top: 30px;
        margin-left: -2px;
        width: 198px;
        height: 132px;        
    }

    .skills-card__reading p:nth-child(2){
        margin-left: 15px;
        font-size: 18px;
    }
    .skills-card__reading p:nth-child(3){
        margin-left: 15px;
        margin-bottom: 0px;
        font-size: 13px;
        line-height: 20px;
    }

    .skills-card__reading a{
        margin-top: 110px;
        margin-left: 15px;
        margin-bottom: 0px;
    }

    
    .skills-card__listening{
        width: 240px;
        height: 534px;
    }

    .skills-card__listening img{
        margin-top: 38px;
        margin-left: 12px;
        position: static;
    }

    .skills-card__listening p:nth-child(2){
        margin-left: 19px;
        font-size: 18px;
    }

    .skills-card__listening p:nth-child(3){
        margin-left: 21px;
        font-size: 13px;
        line-height: 20px;
    }

    .skills-card__listening a{
        margin-top: 123px;
    }
}

@media (max-width: 575px) {

    .skills{
        margin-top: 51px;
    }

    .skills h1{
        font-size: 24px;
        line-height: 80px;        
    }

    .skills-cards__second{
        margin-top: 32px;
    }

    .skills-card{
        width: 290px;
        height: 473px;
    }

    .skills-card a{
        width: 178px;
        height: 50px;
        padding: 13.59px 42.92px 14px 43px;        
    }

    .skills-card__speaking{
        width: 290px;
        height: 600px;        
    }

    .skills-card__speaking img{
        margin-top: 8px;
        margin-left: 39px;
        width: 213px;
        height: 213px;
    }

    .skills-card__speaking p:nth-child(2){
        margin-top: 10px;
        margin-left: 13px;
        font-size: 18px;
    }

    .skills-card__speaking p:nth-child(3){
        margin-left: 16px;
        max-width: 258px;
        font-size: 12px;
        line-height: 20px;
    }

    .skills-card__speaking a{
        margin-top: 37px;
        margin-left: 16px;
    }

    .skills-card__writing{
        width: 290px;
        height: 473px;
    }

    .skills-card__writing img{
        margin-top: 16px;
        margin-left: 44px;
        width: 204px;
        height: 204px;
        position: static;
    }

    .skills-card__writing p:nth-child(2){
        margin-top: -7px;
        margin-left: 13px;
        font-size: 18px;
    }

    .skills-card__writing p:nth-child(3){
        margin-left: 15px;
        max-width: 258px;
        font-size: 12px;
        line-height: 18px;
    }

    .skills-card__writing a{
        margin-top: 35px;
        margin-left: 13px;
    }

    .skills-card__reading img{
        margin-top: 29px;
        margin-left: 29px;
        width: 236px;
        height: 157px;
        position: static;
    }

    .skills-card__reading p:nth-child(2){
        margin-top: 0px;
        margin-left: 14px;
        font-size: 18px;
    }

    .skills-card__reading p:nth-child(3){
        margin-top: -1px;
        margin-left: 15px;
        max-width: 258px;
        font-size: 13px;
        line-height: 20px
    }

    .skills-card__reading a{
        margin-top: 36px;
        margin-left: 13px;
    }

    .skills-card__listening img{
        margin-top: 33px;
        margin-left: 29px;
        width: 232px;
        height: 154px;
        position: static;
    }

    .skills-card__listening p:nth-child(2){
        margin-top: 1px;
        margin-left: 14px;
        font-size: 18px;
    }

    .skills-card__listening p:nth-child(3){
        margin-top: -1px;
        margin-left: 15px;
        max-width: 258px;
        font-size: 13px;
        line-height: 20px
    }

    .skills-card__listening a{
        margin-top: 43px;
        margin-left: 13px;
    }
}